*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; /*font-family: Poppins, sans-serif; ✅ valid || first poppins checked, if not available then sans-serif */
    box-sizing: border-box;
}

body{
    background: #454545; /*background resets all background-related properties.but background-color does NOT reset others || background-color sets only the color, while background is a shorthand that can set all background-related properties and resets the rest.*/
    color: #fff;
}
.container{
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
}
.left,.right{
    flex-basis: 50%;
    padding: 10px;

    /*flex-basis
    Sets the initial size of each flex item

    Since flex direction is row:
    50% means 50% of container’s main size (width)
    So,
    .left -> 50%
    .right -> 50%
    together -> full width

    Its not exactly same as width: 50%
    -> felx-basis can be overridden by flex-grow/ flex-shrink.
    */

}
textArea{
    width: 100%;
    height: 28%;
    background: #1f1f1f;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    outline: none; /*outline is a line drawn outside the element’s border || Commonly shown when an element is focused || Browsers add it by default for accessibility. || here o clicking the textArea no outline . || its removed. || same as outline: 0; */
    font-size: 18px;
}
iframe{
    width: 100%;
    height: 95%;
    background: #fff;
    border: 0;
    outline: 0;
}
label i{
    margin: 10px; /* <i> is inline element by default. so, its margins affect the entire line of text*/
}
label{
    display: flex;
    align-items: center;
    background: #000;
    height: 30px;
}
